.addGroupModal {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  &__wrapper {
    width: 80vw;
    height: 80vh;
    background-color: #fff;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 2rem 0 2rem 0;
  }

  &__description {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 3vh;
  }

  &__input {
    min-width: 15vw;
    min-height: 3vh;
    background-color: #dbdbdb;
    padding-left: 10px;
    margin-bottom: 0.5rem;
  }

  &__button {
    margin: 1rem 0.5rem 0 0.5rem;
    min-width: 15vw;
    min-height: 3vh;
    background-color: #8d8d8d;
  }

  .form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &__title {
      margin-bottom: 0.5rem;
    }

    &__tariff {
      text-align: center;
      min-width: 10vw;
      min-height: 3vh;
      background-color: rgb(199, 199, 199);
    }

    &__input {
      min-width: 20vw;
      min-height: 3vh;
      background-color: #dbdbdb;
      padding-left: 10px;
      margin-bottom: 1.5rem;
    }

    &__button {
      min-width: 20vw;
      min-height: 3vh;
      background-color: #8d8d8d;
    }
  }

  &__list {
    display: flex;
    // justify-content: center;
    // align-items: center;
    flex-direction: column;
    min-height: 50vh;
    min-width: calc(60vw + 2rem);
    overflow-y: scroll;
    background-color: rgb(245, 245, 245);
    margin-top: 2vh;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 3vh;
    background-color: rgb(231, 231, 231);
    margin-bottom: 0.5rem;

    .item {
      &__title {

      }

      &__button {
        padding: 0 0.5rem 0 0.5rem;
        min-width: 10vw;
        min-height: 3vh;
        background-color: #8d8d8d;
      }

      &__tariff {
        text-align: center;
        min-width: 10vw;
        min-height: 3vh;
        background-color: rgb(199, 199, 199);
      }
    }
  }
}