.guests__list {
  display: flex;
  // justify-content: center;
  // align-items: center;
  flex-direction: column;
  // height: 50vh;
  // width: 70vw;
  // overflow-y: scroll;
  // background-color: rgb(245, 245, 245);
  margin-top: 2vh;
  width: 100%;
}