.notfound {
  &__text {
    font-size: 50px;
  }

  &__smile {
    font-weight: bold;
    font-size: 60px;
  }

  &__button {
    font-size: 2rem;
    width: 20vw;
    border: 3px solid grey;
    cursor: pointer;
    background-color: burlywood;
  }
}