@import '../../variable';

.addGuestModal {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  &__wrapper {
    min-width: 50vw;
    min-height: 60vh;
    background-color: $main-background-color;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 1rem 0 1rem 0;
    border-radius: 35px;
  }
}