@import '../../variable';

.guests__nav {
  background-color: $guests-background-color-dark;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem;
  border-radius: 20px;
}