@import '../../variable';

.cashboxModal {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  &__wrapper {
    min-width: 50vw;
    min-height: 60vh;
    background-color: $main-background-color;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 1rem 0 1rem 0;
    border-radius: 35px;
  }

  &__title {
    font-family: 'Shantell Sans';
    font-size: 36px;
    margin-bottom: 1rem;
  }

  &__labels {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
  }

  &__input {
    min-width: 13rem;
    min-height: 2rem;
    border-radius: 25px;
    background-color: $guests-background-color;
    padding-left: 1rem;
  }

  &__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
  }

  &__button {
    min-height: 2rem;
    padding: 0 1rem 0 1rem;
    border-radius: 25px;
    background-color: $guests-yellow;
    
    &--cancel {
      background-color: $guests-red;
    }

    &--add {
      background-color: $guests-green;
    }
  }

  &__money {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
  }

  &__display {
    margin: 0 3vw 0 3vw;
    font-weight: bold;
    font-size: 30px;
  }
}