$header-background-color: #dcc1ac;
$header-img-background-color: #fee0c8;
$main-color: #3e403f;
$main-background-color: #ede8e2;
$guests-background-color: #e3d5cc;
$guests-background-color-dark: #dfcec6;
$guests-color-inactive: #a2a09c;
$guests-blue: #c9bdbd;
$guests-yellow: #ccc1af;
$guests-green: #bfc6b6;
$guests-red: #debeaf;
$guests-search-focus: #fff;