$header-background-color: #dcc1ac;
$header-img-background-color: #fee0c8;
$main-color: #3e403f;
$main-background-color: #ede8e2;
$main-background-color-hover: #fff;
$guests-background-color: #e3d5cc;
$guests-background-color-dark: #dfcec6;
$guests-color-inactive: #a2a09c;
$guests-blue: #c1bfce;
$guests-blue-hover: #aca7cc;
$guests-yellow: #dfd9a5;
$guests-yellow-hover: #e4d376;
$guests-green: #b9cf9d;
$guests-green-hover: #9fcc64;
$guests-red: #ddb3a0;
$guests-red-hover: #d69e81;
$guests-search-focus: #fff;